@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
  
    .scrollbar-hidden {
      scrollbar-width: none;
    }
  
    .scrollbar-primary::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    .scrollbar-primary::-webkit-scrollbar-thumb {
      background: hsl(var(--primary));
      border-radius: 999px;
    }
  
    .scrollbar-primary::-webkit-scrollbar-track {
      background: transparent;
    }
  }